<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <h3>Đồ án 1</h3>
            <h2>Website quản lý đề thi</h2>
            <h2 class="text-center">Thành viên trong nhóm</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên</th>
                    <th scope="col">MSSV</th>
                    <th scope="col">Lớp</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Trần Thị Ngọc</td>
                    <td>20166530</td>
                    <td>CN- Điện tử 1 K61</td>
                </tr>              
                </tbody>
            </table>
        </div>
    </div>
</div>